html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.card {
	height: 120px;
	width: 120px;
	box-sizing: border-box;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: monospace;
	font-size: 12px;
	top: 0px;
	left: 0px;
	cursor: move;
}

.card, .deck, .noselect {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.deck {
	height: 120px;
	width: 120px;
	box-sizing: border-box;
	background-color: gray;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	font-family: monospace;
	font-size: 12px;
	cursor: pointer;
}