:root {
	--set-color: #0276FD;
	--promo-color: #E3170D;
	--action: gainsboro;
	--victory: #7BCC70; /* nightvision */
	--reaction: #4F94CD; /* steelblue */
	--treasure: #FBDB0C; /* gummi yellow */
	--duration: #ED9121; /* carrot */
	--night: dimgray;
	--reserve: #B5A642; /* brass */
}

/* DECK */


html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.grid {
	background-image: url("grid.png");
	background-repeat: repeat;
}

.card, .deck {
	position: absolute;
	top: 0px;
	left: 0px;
}

.deck {
	background-color: Aqua;
	font-family: 'PT Mono', monospace;
	font-size: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.card {
	font-family: 'Nova Oval', monospace;
	font-size: 14px;
	cursor: move;
	height: 20px;
	outline: 2px outset rgba(0, 0, 0, .4);
	outline-offset: -2px;
	position: absolute;
}

.card, .deck {
	width: 120px;
	height: 120px;
}

.title {
	text-align: center;
	width: 120px;
	height: 20px;
	line-height: 22px;
	box-sizing: border-box;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.action {
	background-color: var(--action);
	color: black;
}

.reaction {
	background-color: var(--reaction);
	color: black;
}

.treasure {
	background-color: var(--treasure);
	color: black;
}

.victory {
	background-color: var(--victory);
	color: black;
}

.reserve {
	background-color: var(--reserve);
	color: black;
}

.night {
	background-color: var(--night);
	color: white;
}

.duration {
	background-color: var(--duration);
	color: black;
}

.cost {
	background-image: url(coin.svg);
	font-family: 'Nova Oval', monospace;
	font-size: 14px;
	color: black;
	
	width: 16px;
	height: 16px;
	text-align: center;
	line-height: 16px;
	
	position: absolute;
	bottom: 2px;
	left: 2px;
}

.selector-box {
	border: 1px dotted black;
	box-sizing: border-box;
	position: absolute;
	background-color: rgba(0, 0, 128, 0.3);
}


/* SELECTORS */


.modal {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	display: flex;
	justify-content: center;
	overflow: auto;
	z-index: 1;
}

.modal-hide {
	display: none;
}

.panel {
	margin-top: 24px;
	width: 400px;
	display: grid;
	grid-gap: 6px;
	position: absolute;
	padding: 20px;
	background-color: white;
}

.selectors {
	display: grid;
	grid-gap: inherit;
}

.selector {
	font-family: 'Nova Oval', monospace;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 28px;
	cursor: pointer;
	border-radius: 6px;
	border-width: 3px;
	border-style: solid;
}

.set.selector {
	border-color: var(--set-color);
	color: var(--set-color);
	font-size: 20px;
}

.promo.selector {
	border-color: var(--promo-color);
	color: var(--promo-color);
	font-size: 18px;
}

.selector.selected {
	color: white;
}

.set.selector.selected {
	background-color: var(--set-color);
}

.promo.selector.selected {
	background-color: var(--promo-color);
}

.save-button {
	font-family: 'Roboto Mono', monospace;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 28px;
	cursor: pointer;
	border-radius: 6px;
	border: 3px solid gray;
	font-size: 20px;
}

.disabled {
	color: gray;
	border-color: lightgray;
	cursor: not-allowed;
}

* {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}